*, *::before, *::after
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* :root
{
    --bottom-value: 0;
} */

input, button
{
    padding: 10px;
    margin: 10px;
}

#stacks-container
{
    border: 1px solid red;
    height: 90vh;
    display: grid;
    grid-template-rows: 50% 50%;
    /* justify-content: space-around; */
    /* align-items: center; */
}

#stacks-container > #push-stack
{
    position: relative;
    width: 50%;
    margin: auto;
}

#stacks-container #push-stack > span.pushed-content
{
    /* --bottom-value: 0; */
    position: absolute;
    border: 1px solid maroon;
    display: block;
    width: 80%;
    padding: 5px;
    text-align: center;
    bottom: 100%;
    left: 10%;
    /* animation: pushAnimation 1s forwards; */
}

/* #stacks-container #push-stack > span.pushed-content
{ */
    /* --bottom-value: 0; */
    /* position: absolute;
    border: 1px solid maroon;
    display: block;
    width: 80%;
    padding: 5px;
    text-align: center;
    bottom: 0;
    left: 10%; */
    /* transform: translateX(160%); */
    /* animation: popAnimation 3s forwards;
} */

#stacks-container > #pop-stack
{
    width: 50%;
    margin: auto;
    border: 2px solid lime;
    border-right:none;
    padding-left: none;
}

#stacks-container > .stack
{
    border: 2px solid lime;
    border-top: none;
    height: 40%;
}

@keyframes pushAnimation
{
    0%
    {

    }
    100%
    {
        bottom: var(--bottom-value);
    }
}

@keyframes popAnimation
{
    0%
    {
        /* bottom: var(--bottom-value-pop-start); */
        left: 0;
        width: 100%;
    }
    /* 50%
    {
        bottom: 100%;
        transform: rotate(360deg) translateY(560%);
    } */
    25%
    {
        transform: translate(130%, 300%) rotate(-90deg);
    }
    50%
    {
        /* transform: rotate(180deg); */
    }
    75%
    {
        transform: translate(130%, 1800%) rotate(-180deg);
    }
    100%
    {
        /* bottom: var(--bottom-value-pop-end); */
        left: var(--bottom-value-pop-end);
        transform: translate(0%, 1800%) rotate(-270deg);
        width: 15%;
    }
    
}
label
{
    /* display: block;
    margin: 10px; */
    padding:20px;
}
